@*@model List<AdministratorModel.Models.Booking>*@
@{
    Layout = "_LayoutVaccine";
}
<head>
    <meta charset="utf-8" />
    <title>Dashboard | By The Innovative Geeks</title>
    <link rel="stylesheet" href="~/css/Vaccine.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li type="none"><a href="#" class="logo"><img src="~/css/GroupLogo.png" alt="" /><span class="nav-item01">DashBoard</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-home"></i><span class="nav-item02">Home</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-user"></i><span class="nav-item03">Profile</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-wallet"></i><span class="nav-item04">Medical History</span></a></li>
                @* <li><a href="#"><i class="fas fa-chart"></i><span class="nav-item">Analytics</span></a></li> *@
                <li type="none"><a href="#"><i class="fas fa-tasks"></i><span class="nav-item05">Tasks</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-cog"></i><span class="nav-item06">Settings</span></a></li>
                <li type="none"><a href="#"><i class="fas fa-question-circle"></i><span class="nav-item07">Help</span></a></li>
                <li type="none"><a href="#" class="logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item08">Log Out</span></a></li>
            </ul>
        </nav>
    </div>
</body>

<!DOCTYPE html>
<html>
<head>
    <title>Administrator's Page</title>
</head>
<body>
    <h1>Administrator's Page</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Appointment Date</th>
            <th>Preference</th>
            <th>For Dependent</th>
        </tr>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Id</td>
                <td>@booking.Username</td>
                <td>@booking.Password</td>
                <td>@booking.AppointmentDate</td>
                <td>@booking.Preference</td>
                <td>@booking.ForDependent</td>
            </tr>
        }
    </table>
</body>
</html>

