@page
@*@model List<GeeksProject02.Models.Form>*@

@{
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Admin.css" />
</head>
<div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Booking</a>
    <a href="#">Contact</a>
    <a href="#">Add Booking</a>
</div>
<h1>Booking Management System </h1>
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Names</th>
            <th>Date of Birth</th> <!-- Matched to patientbooking.DOB -->
            <th>Gender</th>
            <th>Email Address</th>
            <th>Phone Number</th><!-- Matched to patientbooking.Gender -->
            <th>Appointment Date</th> <!-- Matched to patientbooking.AppointmentDate -->
            <th>Medical Aid</th>
            <th>Medical Aid Number</th>
            <th>Medical Aid Name</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.Id</td>
                <td>@(form.FirstName + " " + form.Surname)</td>
                <td>@form.DOB</td>
                <td>@form.Gender</td>
                <td>@form.EmailAddress</td>
                <td>@form.PhoneNumber</td>
                <td>@form.AppointmentDate</td>
                <td>@form.IsMedicalAidMember</td>
                <td>@form.MedicalAidNumber</td>
                <td>@form.MedicalAidName</td>
                <td><a href="Form/View/@form.Id">View</a></td>
                
                @* <td>
                    @if (addBooking.ApprovalStatus == 1)
                    {
                        <span class="badge bg-green">Approved</span>
                    }
                    else if (addBooking.ApprovalStatus == 0)
                    {
                        <span class="badge bg-red">Pending</span>
                    }
                </td> *@
                @* <td>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="fa fa-caret-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">History</a></li>
                            <li><a href="#">Edit</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </td> *@
            </tr>
        }

    </tbody>
</table>