@model IEnumerable<GeeksProject02.Models.Mummy_n_Me_P>
@{
    Layout = "_Layout_P_StaffIndex";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-8">
            <h2>List of Mummy and Me Members</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" style="color:white" asp-controller="P_Admin" asp-action="Create_M">Add a Member</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        About Youself
                    </th>
                    <th>
                        Baby's Name
                    </th>
                    <th>
                        Baby's DOB
                    </th>
                    <th>
                        Change
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var mem in Model)
                {
                    <tr>
                        <td width="14%">@mem.FirstName</td>
                        <td width="14%">@mem.LastName</td>
                        <td width="14%">@mem.Email</td>
                        <td width="14%">@mem.AboutYourself</td>
                        <td width="16%">@mem.BabyName</td>
                        <td width="14%">@mem.BabyBirth</td>
                        <td width="14%">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="P_Admin" asp-action="Update_M" asp-route-ID="@mem.ID" class="btn btn-light mx-1">Update</a>
                                <a asp-controller="P_Admin" asp-action="Delete_M" asp-route-ID="@mem.ID" class="btn btn-secondary mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No Members to show...</p>
    }

</div>