@{
    Layout = "LayoutForms";
}
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@model IEnumerable<GeeksProject02.Models.Diagnosis>

<header>
    <nav class="section__container nav__container">
        <div class="nav__logo">e-<span>Nompilo</span></div>
        <ul class="nav__links">
            <a asp-action="" asp-controller="">
            <li><Link to="/">Home</li>
            </a>
            <a asp-action="" asp-controller="">
            <li><Link to="/about-us">About Us</li>
            </a>
            <a asp-action="" asp-controller="">
            <li><Link to="/contact-us">View Medical record</li>
            </a>

        </ul>
        @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
        <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
    </nav>
</header>
<div class="container">
    <div class="image"></div>
    <div class="text">
        <h2>chronic Medication</h2>
        <p>Welcome to our Chronic Medication facility.<br /> your trusted source for comprehensive information, guida</p>
    </div>
</div>
<br />
<br />
@if (Model.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Primary Sysmptoms</th>
                <th scope="col">Secondary Symptoms</th>
                <th scope="col">Severity</th>
                <th scope="col">Blood Pressure</th>
                <th scope="col">Heart Rate</th>
                <th scope="col">Respiration Rate</th>
                <th scope="col">Temperature</th>
                <th scope="col">Diagnosis Results</th>
                <th scope="col">Treatment Plan</th>
                <th scope="col">Followup Instructions</th>
                <th scope="col">Physician Name</th>
                <th scope="col"> Hospital</th>
                <th scope="col">Date</th>
                <th scope="col"> SignatureByName</th>
                <th scope="col"> Action</th>
            </tr>
        </thead>
        @foreach (var mpho in Model)
        {
            <tbody>
                <tr>

                    <td> @mpho.PatientName</td>
                    <td>@mpho.DateofBirth </td>
                    <td>@mpho.Gender </td>
                    <td>@mpho.PrimarySymptoms </td>
                    <td>@mpho.SecondarySymptoms</td>
                    <td>@mpho.Severity</td>
                    <td>@mpho.BloodPressure</td>
                    <td>@mpho.HeartRate</td>
                    <td>@mpho.RespirationRate</td>
                    <td>@mpho.Temperature</td>
                    <td>@mpho.DiagnosisResults</td>
                    <td>@mpho.TreatmentPlan</td>
                    <td>@mpho.FollowupInstructions </td>
                    <td>@mpho.PhysicianName</td>
                    <td>@mpho.Hospital</td>
                    <td>@mpho.Date</td>
                    <td>@mpho.SignatureByName</td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="ChronicDoctor" asp-action="ViewDiagnosis" asp-route-ID="@mpho.DiagnosisID" class="btn btn-success mx-1"><i class=" bi bi-pencil-square"></i>View</a>
                            <a asp-controller="ChronicDoctor" asp-action="UpdateDiagnosis" asp-route-ID="@mpho.DiagnosisID" class="btn btn-success mx-1"><i class=" bi bi-pencil-square"></i>Update</a>
                            <a asp-controller="ChronicDoctor" asp-action="DeleteDiagnosis" asp-route-ID="@mpho.DiagnosisID" class="btn btn-success mx-1"><i class=" bi bi-pencil-square"></i>Delete</a>

                        </div>
                    </td>

                </tr>



            </tbody>
        }
    </table>

}
else
{
    <p>no appointments available</p>
}

<div class="col">
    <a asp-action="Doctor" class="btn btn-dark w-75">Back</a>
</div>