@{
    Layout = "LayoutForms";
}

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@model IEnumerable<GeeksProject02.Models.ChroMedicalHistory>

<header>
    <nav class="section__container nav__container">
        <div class="nav__logo">e-<span>Nompilo</span></div>
        <ul class="nav__links">
            <a asp-action="" asp-controller="">
            <li><Link to="/">Home</li>
            </a>
            <a asp-action="" asp-controller="">
            <li><Link to="/about-us">About Us</li>
            </a>
            <a asp-action="" asp-controller="">
            <li><Link to="/contact-us">View Medical record</li>
            </a>

        </ul>
        @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
        <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
    </nav>
</header>
<div class="container">
    <div class="image"></div>
    <div class="text">
        <h2>chronic Medication</h2>
        <p>Welcome to our Chronic Medication facility.<br /> your trusted source for comprehensive information, guida</p>
    </div>
</div>
<br />
<br />
@if (Model.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Status</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">LifeStyle</th>
                <th scope="col">Allergies</th>
                <th scope="col">Surgiers Undergone</th>
                <th scope="col">Family Medical History</th>
                <th scope="col">Previous Medication</th>
                <th scope="col">Immunization History</th>
                <th scope="col">Hospitalizations</th>
                <th scope="col">Home telephone</th>
                <th scope="col">Work Telephone</th>
                <th scope="col">Next kin Number</th>
                <th scope="col">insurence Provider number</th>
            </tr>
        </thead>
        @foreach (var mpho in Model)
        {
            <tbody>
                <tr>

                    <td> @mpho.FirstName</td>
                    <td>@mpho.LastName </td>
                    <td>@mpho.MobileNumber </td>
                    <td>@mpho.Status</td>
                    <td>@mpho.DateOfBirth</td>
                    <td>@mpho.LifeStyle</td>
                    <td>@mpho.Allergies</td>
                    <td>@mpho.surgiersUndergone</td>
                    <td>@mpho.FamilyMedicalHistory</td>
                    <td>@mpho.PreviousMedication</td>
                    <td>@mpho.ImmunizationHistory</td>
                    <td>@mpho.Hospitalizations </td>
                    <td>@mpho.HomeTelePhoneNumber </td>
                    <td>@mpho.WorkTelePhoneNumber </td>
                    <td>@mpho.NextOfKinNumber </td>
                    <td>@mpho.InsurenceProvideNumber </td>
                    <td >
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="ChronicDoctor" asp-action="View" asp-route-ID="@mpho.Id" class="btn btn-success mx-1"><i class=" bi bi-pencil-square"></i>View</a>
                            
                        </div>
                    </td>

                </tr>



            </tbody>
        }
    </table>

}
else
{
    <p>no appointments available</p>
}
<div class="col">
    <a asp-action="Doctor" class="btn btn-dark w-75">Back</a>
</div>