@{
    Layout = "LayoutForms";
}
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
@model GeeksProject02.Models.Diagnosis

<header>
    <nav class="section__container nav__container">
        <div class="nav__logo">e-<span>Nompilo</span></div>
        <ul class="nav__links">
            <a asp-action="" asp-controller="">
            <li><Link to="/">Home</li>
            </a>
            <a asp-action="" asp-controller="">
            <li><Link to="/about-us">About Us</li>
            </a>
            <a asp-action="" asp-controller="">
            <li><Link to="/contact-us">View Medical record</li>
            </a>

        </ul>
        @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
        <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
    </nav>
</header>



<div class="medical-history">
    <h2>Diagnosis Form</h2>
</div>

<div class="section">
    <h3 class="section-heading">Patient Information</h3>
    <ul>

        <li><strong>Patient Name:</strong>       @Model.PatientName </li>
        <li><strong>Date of Birth:</strong>     @Model.DateofBirth </li>
        <li><strong>Gender:</strong> @Model.Gender </li>
      




    </ul>
</div>
<div class="section">

    <h3 class="section-heading">Diagnosis and Treatment</h3>

    <ul>
        <li><strong>Primary Symptomps:</strong>  @Model.PrimarySymptoms</li>
        <li><strong>Secondary Sysmptoms:</strong>  @Model.SecondarySymptoms</li>
        <li><strong>Severity:</strong>  @Model.Severity </li>
        <li><strong>Blood Pressure:</strong>  @Model.BloodPressure</li>
        <li><strong>Heart Rate:</strong>  @Model.HeartRate</li>
        <li><strong>Respiration Rate:</strong>  @Model.RespirationRate </li>
        <li><strong>Temperature:</strong>  @Model.Temperature </li>
        <li><strong>Diagnosis Results:</strong>  @Model.DiagnosisResults </li>
        <li><strong>Treatment Plan:</strong>  @Model.TreatmentPlan</li>
        <li><strong>Follow up Instructions:</strong>  @Model.FollowupInstructions </li>
        <li class="list-heading"></li>
    </ul>
</div>
<div class="section">

    <h3 class="section-heading">Provider Information</h3>
    <ul>


        <li><strong>Physician Name:</strong>  @Model.PhysicianName </li>
        <li><strong>Hospital:</strong>  @Model.Hospital</li>
        <li><strong>Date:</strong>  @Model.Date </li>
        <li><strong>Signiture by Name:</strong>  @Model.SignatureByName</li>
    </ul>
</div>

<div class=" form-group row">
   
        <div class="col">
            <a asp-action="Diagnosis" class="btn btn-dark w-75">Back</a>
        </div>
    </div>
