@model List<GeeksProject02.Models.FamilyPlanningBooking>

@{
    Layout = "_LayoutFP";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" href="~/css/AdminDashboard.css" />
</head>

@{
    Layout = "FamilyplanningViewPatientAdmin";
}

<style>

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<h1>Appointment Bookings Management</h1>

<table id="example1" class="table able-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>DateOfBooking</th>
            <th>IDNumber</th>
            <th>BookingReason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var familyplanningbookings in Model)
        {
            <tr>
                <td>@familyplanningbookings.Id</td>
                <td>@familyplanningbookings.Name</td>
                <td>@familyplanningbookings.Surname</td>
                <td>@familyplanningbookings.DateOfBooking</td>
                <td>@familyplanningbookings.IDNumber</td>
                <td>@familyplanningbookings.BookingReason</td>
                <td><a asp-controller="FamilyPlanningBooking" asp-action="View" asp-route-id="@familyplanningbookings.Id">View Booking Record</a></td>
                <td><a asp-controller="FamilyPlanningBooking" asp-action="Delete" asp-route-id="@familyplanningbookings.Id">Remove Booking Record</a></td>
            </tr>
        }
    </tbody>
</table>

