@model List<GeeksProject02.Models.Form>

@{
    Layout = "_LayoutFormBooking";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" href="~/css/AdminDashboard.css" />
</head>

<body>
    <div class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Booking</a>
        <a href="#">Contact</a>
        <a href="#">Add Booking</a>
    </div>

    <h1>Booking Management System</h1>

    <table id="example1" class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Names</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Symptoms/Requests</th>
                <th>Appointment Date</th>
                <th>Medical Aid</th>
                <th>Medical Aid Number</th>
                <th>Medical Aid Name</th>
                <th>Status</th> <!-- New status column -->
            </tr>
        </thead>
        <tbody>
            @foreach (var form in Model)
            {
                <tr>
                    <td>@form.Id</td>
                    <td>@(form.FirstName + " " + form.Surname)</td>
                    <td>@form.DOB</td>
                    <td>@form.Gender</td>
                    <td>@form.EmailAddress</td>
                    <td>@form.PhoneNumber</td>
                    <td>@form.AdditionalInfo</td>
                    <td>@form.AppointmentDate</td>
                    <td>@form.IsMedicalAidMember</td>
                    <td>@form.MedicalAidNumber</td>
                    <td>@form.MedicalAidName</td>
                    <td>
                        @if (form.Status == Form.AppointmentStatus.Pending)
                        {
                            <span class="badge bg-red">Pending</span>
                        }
                        else if (form.Status == Form.AppointmentStatus.Accepted)
                        {
                            <span class="badge bg-green">Accepted</span>
                        }
                        else if (form.Status == Form.AppointmentStatus.Declined)
                        {
                            <span class="badge bg-red">Declined</span>
                        }
                    </td>
                    <td><a href="/Index/View/@form.Id">View</a></td>
                    <td>
                        @if (form.Status == Form.AppointmentStatus.Pending)
                        {
                            <a href="/Form/AcceptAppointment/@form.Id">Accept</a>
                            <a href="/Form/Appointments/@form.Id">Decline</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
