@{
    Layout = "_LayoutFormBooking";
}
@model List<GeeksProject02.Models.Stock>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px; /* Optional: Add some margin at the bottom */
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<h1>Vaccine Inventory</h1>
@if (User.IsInRole("Admin"))
{
    <a asp-action="ExportToExcel" asp-controller="VaccineInventory" class="btn btn-success">Export to Excel</a>

    <a class="btn btn-primary" style="color:white" asp-area="" asp-controller="VaccineInventory" asp-action="Add">Add Vaccine</a>

}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vaccine Name</th>
            <th>Vaccine Brand</th>
            <th>Status</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Presentation</th>
                <th>DosesPerBox</th>
                <th>BoxLotNumbers</th>
                <th>BoxExpirationDate</th>
                <th>DoseLotNumbers</th>
                <th>DoseExpiration Date</th>
                <th>DosesonHand</th>
                <th>TotalDoses</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.VaccineName)</td>
                <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
               
                @if (User.IsInRole("Admin"))
                {
                    <td>@Html.DisplayFor(modelItem => item.Presentation)</td>
                    <td>@Html.DisplayFor(modelItem => item.DosesPerBox)</td>
                    <td>@Html.DisplayFor(modelItem => item.PresentationBoxLotNumbers)</td>
                    <td>@Html.DisplayFor(modelItem => item.PresentationBoxExpirationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.DoseLotNumbers)</td>
                    <td>@Html.DisplayFor(modelItem => item.DoseExpirationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.DosesOnHand)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalDosesOnHand)</td>
                    <td>
                        <a asp-controller="VaccineInventory" asp-action="View" asp-route-id="@item.Id">View</a>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>
