@{
    Layout = "LayoutForms";

}
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    container--x {
        background-color: #fff;
    }
</style>
@model IEnumerable<GeeksProject02.Models.ChronicPrescription>
@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,shrink-to-fit=no ">
    <title>Image on the Right</title>
    <link rel="stylesheet" href="~/css/PatientViews.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoMpho.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" asp-append-version="true" />
    <script src="http://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>
<body> *@
    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <ul class="nav__links">
                <a asp-action="" asp-controller="">
                <li><Link to="/">Home</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/about-us">About Us</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/contact-us">View Medical record</li>
                </a>

            </ul>
            @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
            <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
        </nav>
    </header>
    <div class="container--x">
        @if (Model.Count() > 0)
        {
        <div class="section">
            <h3 class="section-heading">Prescription details</h3>

        </div>
            @foreach (var mpho in Model)
            {
                <div class="section">
                   
                    <ul>


                    <li><strong>Doctor Name:</strong>@mpho.DoctorName</li>
                    <li><strong>Licence Number:</strong>     @mpho.LicenceNUmber </li>
                    <li><strong>Date:</strong> @mpho.Date </li>
                    <li><strong>Medication Name:</strong>  @mpho.MedicationName</li>
                    <li><strong>Dosage Instruction:</strong>  @mpho.DosageInstruction</li>

                    </ul>


                </div>
            }







        }

        else
        {
            <div id="elementToRemove">
                <!-- Content inside the element to be removed -->
                <p>The are no available Prescription</p>
            </div>


        }


    </div>




<div class=" form-group row">

    <div class="col">
        <a asp-action="Chronic" class="btn btn-dark w-75">Back</a>
    </div>
    <div class="col">
        <a asp-action="RefillRequest" asp-controller="ChronicRefill" class="btn btn-dark w-75">Prescriptiton Refill</a>
    </div>
</div>
















@* 
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>e-<span>Nompilo</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>

            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
                </p>
                <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>



</body>
</html> *@


