@{
    Layout = "_LayoutChronicMedication";

}
@model IEnumerable<GeeksProject02.Models.ChronicPrescription>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,shrink-to-fit=no ">
    <title>Image on the Right</title>
    <link rel="stylesheet" href="~/css/DocNotes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoMpho.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" asp-append-version="true" />
    <script src="http://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>
<body>
    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">e-<span>Nompilo</span></div>
            <ul class="nav__links">
                <a asp-action="" asp-controller="">
                <li><Link to="/">Home</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/about-us">About Us</li>
                </a>
                <a asp-action="" asp-controller="">
                <li><Link to="/contact-us">View Medical record</li>
                </a>

            </ul>
            @* <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a> *@
            <a asp-action="SubmittDetails" asp-controller="HistoryMedical" class="btn">Medical History</a>
        </nav>
    </header>
    <div class="container--x">
        @if (Model.Count() > 0)
        {
            @foreach (var mpho in Model)
            {
                <div class="content">
                    <h6>Doctor name</h6>
                    <h1>@mpho.DoctorName</h1>
                    <h6>Licence number</h6>
                    <h1> @mpho.LicenceNUmber</h1><br />
                    <h6>Date</h6>
                    <p>@mpho.Date</p><br>
                    <h6>Medication</h6>
                    <p>@mpho.MedicationName</p><br>
                    <h6>Dosage</h6>
                    <p>@mpho.DosageInstruction</p>

                </div>
            }







        }

        else
        {
            <div id="elementToRemove">
                <!-- Content inside the element to be removed -->
                <p>The are no available Prescription</p>
            </div>


        }


    </div>






















    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>e-<span>Nompilo</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>

            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 45, ForestHill Summerstrand, Port Elizabeth
                </p>
                <p><i class="ri-mail-fill"></i> eNompilo@gmail.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Innovative Geeks. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>



</body>
</html>


